
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-5 col-12 left-side d-none d-md-block">
      <div class="tx-white pd-md-y-150 pd-md-x-50 pd-lg-x-80 uba-bg">
        <p class="tx-64 tx-bold text-height-1">
          SOS LIFESTYLE
        </p>
        <p class="tx-20 col-md-9 pd-x-0">Elevate your style, embrace your life.</p>
      </div>
    </div>
    <div class="col-lg-7 min-hei  bg-main">
      <div class="container pd-lg-x-100 pd-xl-x-120 pd-y-30 pd-x-20">
        <nav class="navbar navbar-expand-lg bg-transparent">
          <ul class="navbar-nav ml-auto">
            <img src="../../../assets/img/sos-small-dark-no-bg.png" class="img-fluid" alt="" srcset="">
          </ul>
        </nav>
        <main>
          <div class="pd-md-t-80 pd-t-30 pd-lg-l-50">
            <p style="color: #666666" class="tx-32 tx-bold mg-b-0">Login</p>
            <p class="tx-subdued tx-14">Please enter your information to login.</p>
            <div >
              <mat-card >
              <form [formGroup]="loginForm"  >

                <mat-card-content>
                <mat-form-field appearance="outline">
                  <mat-label>Username</mat-label>
                  <input type="email" matInput placeholder="username" formControlName="username">

                  <mat-error *ngIf="username.touched && username.hasError('required')">Username is required</mat-error>
                  <mat-error *ngIf="username.touched && username.hasError('username')">Username must be valid</mat-error>
                </mat-form-field>
                </mat-card-content>


                <mat-card-content>

                <mat-form-field appearance="outline">
                  <mat-label>Enter your password</mat-label>
                  <input  type="password" matInput [type]="hide ? 'password' : 'text'" placeholder="Password" formControlName="password">
                  <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </button>
                  <mat-error *ngIf="password.touched && password.hasError('required')">Password is required</mat-error>
                </mat-form-field>
                </mat-card-content>

                <mat-card-content>

                  <button mat-button (click)="login()" color="primary" [disabled]="!loginForm.valid">Login</button>
                </mat-card-content>
              </form>
                </mat-card>
              <div class="">
                <hr class="">
                <div class="d-flex ">
                  <a href=""  class="" routerLink='/register'>Create Account</a>
                  <img src="../../../assets/img/live_help_24px.svg" alt="" class="img-fluid pd-l-15" srcset="">
                </div>
              </div>
            </div>
          </div>
        </main>
      </div>
    </div>

  </div>
</div>
<app-footer></app-footer>

<!--<script src="assets/lib/jquery/jquery.min.js"></script>-->
<!--<script src="assets/lib/bootstrap/js/bootstrap.bundle.min.js"></script>-->
<!--<script src="assets/lib/feather-icons/feather.min.js"></script>-->
<!--<script src="assets/js/dashforge.js"></script>-->

