//.example-container {
//  width: 100vw;
//  height: 100vh;
//
//  border: 1px solid black;
//}
//
//mat-drawer-content {
//  padding: 12px;
//  display: flex;
//  flex-direction: column;
//  align-items: flex-start;
//}
//
//
//.mat-sidenav-container{
//  z-index: -3;
//}
//
//

//
//
.spacer {
  flex: 1 1 auto;
}


.mat-toolbar{
  position: relative;
  z-index: 10;
}

.content{
  padding:24px
}

mat-sidenav-container{
  height: calc(100vh - 64px)
}


.title-span{
  margin-left: 8px;
}
