*{
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  }
body{
  color: #24292E;
}
.left-side{
  background-color: #666666;
  /*background: linear-gradient(0deg, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),url(../img/sos-dark.png);*/
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-main{
  background-color:  #F9FAFC;
}
.tx-subdued{
  color: rgba(109, 113, 117, 1);
}
.tx-blue-900{
  color: rgba(30, 58, 138, 1);
}
.min-hei{
  min-height: 100vh
}
.text-height-1{
  line-height: 1.2;
}
.tx-red{
  color: #FB7F64;
}
.tx-heading{
  color: #192434;
}
.tx-grey-900{
  color: #111827;
}
.tx-gray-800{
  color: #1F2937;
}
.tx-gray-400{
  color: #9CA3AF;
}
.tx-gray-700{
  color: #374151;
}
.tx-gray-600{
  color: #4B5563;
}
.tx-gray-500{
  color: #6B7280;
}
.tx-gray{
  color:#6B5D5D;
}
.tx-deep-gray{
  color: #343434;
}
.form-control[readonly]{
  background-color: #E5E7EB;
}
.bg-grey-100{
  background-color: #F3F4F6;
}
.bg-grey-200{
  background-color: #E5E7EB;
}
.fa-circle-small{
  font-size: 6px!important;
}
.form-group.required .control-label:before {
  content:"*";
  color:#BC0303;
}
.rounded-btn{
  border-radius: 25px;
}
.cardd{
  background-color: #F8F8F8;
}
.bg-blue-50{
  background-color: #DEEBFF;
}
.btn-close{
  background: #fff!important;
  border: 1px solid rgba(209, 213, 219, 1)!important;
  box-sizing: border-box;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  font-weight:600;
  color: rgba(55, 65, 81, 1)!important;
}
.btn-outline{
  border: 1px solid rgba(110, 132, 163, 1)!important;
  box-shadow: 0px 2px 2px 0px rgba(152, 162, 179, 0.15);
  font-weight: 700;

}
.btn-outline-dark{
  border: 1px solid #fff!important;
  box-shadow: 0px 2px 2px 0px rgba(152, 162, 179, 0.15);
  font-weight: 700!important;
  color:#fff!important;
}
.btn-outlined-primary:hover{
  background: #fff!important;
  border: 1px solid #d70900!important;
  box-sizing: border-box;
  box-shadow: 0px 1px 0px rgba(27, 31, 35, 0.1), inset 0px 2px 0px rgba(255, 255, 255, 0.03);
    font-weight:700;
    color: #d70900!important;
   }
   .btn-outlined-primary{
    background: #FAFBFC!important;
    color: #d70900 !important;;
    border: 1px solid rgba(27, 31, 35, 0.15)!important;
    box-sizing: border-box;
    box-shadow: 0px 1px 0px rgba(27, 31, 35, 0.04), inset 0px 2px 0px rgba(255, 255, 255, 0.25);
   }
.bg-modal-footer{
  background-color: #F3F5F7;
}

.digit-group{
  width: 100%;
  display: block;
}
.digit-group input{
		width: 55px;
		height: 38px;
		background: #fff!important;
		border: 1px solid #E1E4E8!important;
		line-height: 50px;
		text-align: center;
		font-size: 16px;
		font-weight: 500;
		color: #121212;
		margin: 0 5px;
    border-radius: 6px;
}
.tx-grey{
  color: #606975;
}
.tx-grey-2{
  color: #4F4F4F;
}

.digit-group input:focus ~ .foote #btnActivate {
  background: #FAFBFC;
  color: #d70900 !important;;
  border: 1px solid #d70900!important;
  box-sizing: border-box;
  box-shadow: 0px 1px 0px rgba(27, 31, 35, 0.04), inset 0px 2px 0px rgba(255, 255, 255, 0.25);
  font-weight: 600!important;
 }


 @media (max-width: 576px) {
  .digit-group input{
		width: 40px;
		height: 30px;
		background: #FAFBFC!important;
		border: 1px solid #E1E4E8!important;
		line-height: 50px;
		text-align: center;
		font-size: 16px;
		color: #121212;
		margin: 0 3px;
    border-radius: 2px;
}

 }

 .drop-zone {
  width: 100%;
  height: auto;
  border: 1px dashed #ddd;
  border-radius: 5px;
  position: relative;
  text-align: center;
  /* color: #666; */
  overflow: hidden;
  cursor: pointer;
  /* background: #fff; */
}

.drop-zone--over {
  border-style: solid;
}

.drop-zone__input {
  display: none;
}

.drop-zone__thumb {
  width: 100%;
  height: 15vh;
  border-radius: 10px;
  overflow: hidden;
  background-color: #fff;
  background-size: cover;
  position: relative;
}

.drop-zone__thumb::after {
  content: attr(data-label);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 5px 0;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.75);
  font-size: 14px;
  text-align: center;
}
.form-drop{
  height: 100%;
}

.control-height{
  height: 90vh;
}
.bg-black{
  background-color: #000!important;
}
.bg-aside{
  background-color:#E9EDF3!important ;
}
.secondary-bg{
  background-color: #F9FAFC!important;
}
.image-box{
  background: rgba(243, 244, 246, 1);
  height: 50%;
  border-radius: 5px;
}

.bg-yellow-light{
  background-color: rgba(251, 176, 55, 1);
}
.bg-orange-light{
background-color: rgba(255, 220, 163, 1);
}
.bg-brownish{
  background-color: rgba(184, 113, 0, 1);
}
.brand tr th{
  font-weight: 700!important;
}
.footer-gray{
  background-color: rgba(249, 250, 252, 1)!important;
}
.display.dataTable{
  border: none;
}
.display th, .display td{
  border-bottom: none!important;
}
.table{
  width:100%!important;
}
.table-head{
  background-color: #F9FAFC!important;
}
table.dataTable.display tr td{
  /* border-top: 0 !important; */
}
table.dataTable.no-footer{
  border-bottom: none;
}
table.dataTable thead .sorting::after{
  content: "\25BC"!important;
  color: #D2DDEC;
}
table.dataTable thead .sorting::before{
  content: "\25B2"!important;
  color: #D2DDEC;
}
table.dataTable thead .sorting_asc::after{
  content: "\25B2"!important;
  color: #D2DDEC;
}
.display tr th, .display tr td{
font-size: 12px!important;
}
.display tr th{
  font-weight: 600!important;
}
.nav-link.tab.active{
  color: #000!important;
  font-weight: 700!important;
  }
  .nav-link.active.bg{
    background-color: #DB4C3F!important;
    font-weight: 700!important;
  }
  .nav-line .nav-link{
    padding: 6px 15px!important;
  }
  .avatar img{
    border: 0!important;
  }
  .nav.nav-aside svg{
    margin-right: 10px;
  }
  .breadcrumb-style1 .breadcrumb-item{
    text-transform: capitalize!important;
    font-size: 14px!important;
    font-weight: 400!important;
  }
  .tx-gray-card{
    color: #6A737D;
  }
  .my-search{
    display: flex;
    align-items: stretch;
  }
  .my-search button {
    display: flex;
    align-items: center;
    padding: 0 .5rem;
    border: 1px solid #c0ccda;
    border-right-width: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-radius: 0.25rem;
    color: #8392a5;
    background-color: #fff;
}
.my-search .form-control {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left-width: 0;
}
.nav-tabs .nav-link.cat{
  border: 1px solid#DADFE4;
  border-radius: 5px;

}
.nav-tabs .nav-link.cat.active{
background-color: #F5DDDD!important;
color: #D70900!important;
/* border: 1px solid #F6ADAD; */
font-weight: 600;
}
.nav-tabs .nav-link.cat{
  color: #6A737D;
  background-color: #F2F5F9;
}
.nav-tabs .nav-link.cat.active img{
fill: #d70900!important;
-webkit-filter: invert(40%) grayscale(200%) brightness(40%) sepia(100%) hue-rotate(-50deg) saturate(800%) contrast(2);

  }
  .nav-aside .nav-item.active .nav-link::before{
    border-left-color: transparent!important;
  }
  .nav-aside .nav-item.active .nav-link{
    background-color: #FEF2F2;
    font-weight: 600!important;
  }
  .nav-aside .nav-link{
    padding: 15px 10px!important;
    height: 40px!important;
    border-radius: 5px;
    font-weight: 500;
  }
  .nav-aside .nav-item.active svg{
    -webkit-filter: invert(15%) sepia(98%) saturate(5803%) hue-rotate(6deg) brightness(84%) contrast(110%);
    filter: invert(15%) sepia(98%) saturate(5803%) hue-rotate(6deg) brightness(84%) contrast(110%);;
  }
