<div class="container-main">
  <div class="hero-text">
    <!-- <h1>Singles Experience</h1>
    <p>Sat Feb 15, 2025 | Sol Beach, Elegushi Beach</p>
    </div> -->

    <div *ngIf="!isBuyTicketsButtonClicked" class="container-secondary">
      <button (click)="buyTicketButtonClicked()">Buy tickets</button>
    </div>

    <div *ngIf="isBuyTicketsButtonClicked" class="container">
    <div class="booking-form">
            <span><img src="https://i.ibb.co/y4zcwxY/logo-in-png-removebg-preview.png" alt="logo-in-png-removebg-preview" border="0"></span>

      <h2>Book Your Tickets</h2>
    <form [formGroup]="bookingForm" (ngSubmit)="onSubmit()">

    <div class="form-group">
    <label for="name">Full Name</label>
    <input type="text" id="name" formControlName="name" placeholder="Enter your full name" required>
    </div>
    <div class="form-group">
    <label for="phone">Phone</label>
    <input type="text" id="phone" formControlName="phone" placeholder="Enter your phone number" required>
    </div>
    <div class="form-group">
    <label for="email">Email Address</label>
    <input type="email" id="email" formControlName="email" placeholder="Enter your email address" required>
    </div>
<div class="row form-group">

  <div class="col form-check form-check-inline" (click)="selectTicket('EARLY_BIRDS')">
    <input [disabled]="isEarlyBirdFinished" class="form-check-input" type="radio" formControlName="ticketType" id="inlineRadio1" [value]="'EARLY_BIRDS'">
    <label class="form-check-label" for="inlineRadio1">
      <span>Early-Bird</span> <br><span style="color: red">{{ getIndividualTicketCount('EARLY_BIRDS') }} Left</span>
    </label>
  </div>

  <div class="col form-check form-check-inline" (click)="selectTicket('STANDARD')">
    <input [disabled]="true" class="form-check-input" type="radio" formControlName="ticketType" id="inlineRadio2" [value]="'STANDARD'">
    <label class="form-check-label" for="inlineRadio2">Standard</label>
  </div>

  <div class="col form-check form-check-inline" (click)="selectTicket('VIP')">
    <input class="form-check-input" type="radio" formControlName="ticketType" id="inlineRadio3" [value]="'VIP'">
    <label class="form-check-label" for="inlineRadio3">VIP</label>
  </div>
</div>

      <div class="form-group">
    <label for="tickets">Number of Tickets</label>
    <input type="number" id="tickets" formControlName="noOfTickets"  (input)="getAmount($event)" [min]=1 [max]=ticketLimit placeholder="Enter number of tickets" required>
    </div>


    <div class="form-group">
      {{totalAmount}}
    <button type="submit" >Book Now</button>
    </div>


    </form>

    </div>
    </div>











  </div>

</div>

<footer>
  <p>© 2025 Party Ready NG. All rights reserved.</p>
</footer>
