.card-wrapper {
  margin: 2rem 0rem;
  padding: 2rem;
  height: 100vh !important;
  overflow: hidden;
}

.mat-mdc-card {
  // background-color: #fff;
  height: 100% !important;
  overflow: hidden;
}

.mat-card {
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 1), 0 1px 1px 0 rgba(0, 0, 0, 1),
    0 1px 3px 0 rgba(0, 0, 0, 1);
}

.form-fieds.mat-form-field-appearance-outline .mat-form-field-outline {
  color: #000; /* Set the desired border color, in this case, white */
}

/* Optional: Adjust focus border color */
.form-fieds.mat-focused .mat-form-field-outline {
  color: #000;
}

.product-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  margin-top: 40px;
}

.product-header-title {
  color: #fff;
}

.mat-mdc-raised-button {
  width: 100%;
  height: 56px;
  padding: 16px 0px;
}
@media (min-width: 576px) {
  .card-wrapper {
    margin: 2rem 0rem;

    height: 100vh !important;
    overflow: hidden;
  }
}
@media (min-width: 768px) {
  .card-wrapper {
    margin: 2rem 0rem;

    height: 100vh !important;
    overflow: hidden;
  }
}
