<div class="container mt-5">
    <h2>Admin Dashboard</h2>
    <table class="table table-bordered mt-4">
      <thead>
        <tr>
          <th>#</th>
          <th>Ticket ID</th>
          <th>Used</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ticket of tickets; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ ticket.ticketId }}</td>
          <td>{{ ticket.used ? 'Yes' : 'No' }}</td>
        </tr>
      </tbody>
    </table>
  </div>





  <button class="btn btn-secondary" (click)="downloadCSV()">Export Data</button>