
.button{
  margin-top: 10px !important;
  background-color: #666666 !important;
  color: #fff;
  width: 50pxs;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #000000 !important;
  color:white;
}




main {
  width: 100%;
  min-height: 100%;
  display: flex;
  background-color: black;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  box-sizing: inherit;
  position: relative;
}


.content {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 700px;
  margin-bottom: 3rem;
}

.content h1 {
  margin-top: 1.75rem;
}
.flex-container {
  display: flex;
  //background-color: #666666;
}

.flex-container > div {
  //background-color: #f1f1f1;
  margin: 10px;
  padding: 5px;
  font-size: 30px;
}





//////////////////
.container {
  //display: flex;
  //margin-top: 64px;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Adjust as needed */
}

.page-title{
  align-content: center;
}




p{
  color: white;
}
